<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- <title> {% block title%} {{ title }} {% endblock %} </title> -->
</head>

<body>
    <!-- <div>
        <fieldset>
            <legend>Кто вы?</legend>
            <input type="radio" id="studentID" name="Roleeee" value="student" checked>
            <label for="studentID">Я ученик</label>
            <input type="radio" id="teacherID" name="Roleeee" value="teacher">
            <label for="teacherID">Я учитель</label>
            <button>Send</button>
        </fieldset>
    </div> -->
    {% if not students %}
    <p>Сначала добавьте учеников, у вас их пока ноль</p>
    <a class="button" href="/add_students">Добавить себе учеников</a>
    {% else %}
        {% if not lessons %}
        <p>У вас пока не выставлено ни одного урока</p>
        {% else %}
        <div>
            <p> Ваши уроки: </p>
            {% for student in students %}
            <ul><h> {{ student[0] }} :</h>
                {% for lesson in lessons %}
                    {% if student[0] == lesson[0] %}
                        {% if lesson[1] == mes %}
                        <li>{{ lesson[1] }}</li>
                        {% else %}
                        <li>{{ lesson[1] }}
                            (<a class="button" href="{{ url_for('go_to_the_lesson', Date=lesson[1]) }}"> Перейти к уроку </a>)
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
    <div>
        <a class="button" href="/change_student_les">Вернуться к себе на страницу</a>
    </div>
    <div>
        <a class="button" href="/change_date_les">Вернуться к себе на страницу</a>
    </div>
    <div>
        <a class="button" href="/change_theme_les">Вернуться к себе на страницу</a>
    </div>
    <p>Или</p>
    <div>
        <a class="button" href="/add_lessons">Добавить уроки</a>
        <p><a class="button" href="/del_lessons">Удалить уроки</a></p>
    </div>
    <div>
        <a class="button" href="{{url_for('index')}}">Вернуться к себе на страницу</a>
    </div>
</body>

</html>